**Introduction**

## `csv.DictReader` to Pandas

In [2]:
import pandas as pd
import numpy as np

In [5]:
import csv

with open("nhis.csv") as f:
    reader = csv.DictReader(f)
    olympics_data = list(reader)

# Print the first 5 rows of data
for index in range(5):
    print(olympics_data[index])

{'HHX': '000016', 'FMX': '01', 'FPX': '02', 'SEX': '1', 'BMI': '33.36', 'SLEEP': '8', 'educ': '16', 'height': '74', 'weight': '260'}
{'HHX': '000020', 'FMX': '01', 'FPX': '01', 'SEX': '1', 'BMI': '26.54', 'SLEEP': '7', 'educ': '14', 'height': '70', 'weight': '185'}
{'HHX': '000069', 'FMX': '01', 'FPX': '02', 'SEX': '2', 'BMI': '32.13', 'SLEEP': '7', 'educ': '9', 'height': '61', 'weight': '170'}
{'HHX': '000087', 'FMX': '01', 'FPX': '01', 'SEX': '1', 'BMI': '26.62', 'SLEEP': '8', 'educ': '14', 'height': '68', 'weight': '175'}
{'HHX': '000088', 'FMX': '01', 'FPX': '01', 'SEX': '2', 'BMI': '27.13', 'SLEEP': '8', 'educ': '13', 'height': '66', 'weight': '168'}

In [6]:
olympics_data[2]

{'HHX': '000069',
 'FMX': '01',
 'FPX': '02',
 'SEX': '2',
 'BMI': '32.13',
 'SLEEP': '7',
 'educ': '9',
 'height': '61',
 'weight': '170'}

In [7]:
# Cutting it off at 100 for readability
print([row['BMI'] for row in olympics_data][:100])

['33.36', '26.54', '32.13', '26.62', '27.13', '99.99', '99.99', '24.39', '24.47', '25.38', '23.3', '27.45', '99.99', '38.76', '34.97', '23.3', '23.57', '22.32', '27.46', '21', '25.82', '39.31', '23.63', '48.85', '29.13', '19.84', '22.93', '27.46', '29.15', '27.46', '22.32', '28.61', '31.73', '30.52', '29.99', '37.95', '17.97', '27.41', '27.36', '22.29', '32.29', '34.69', '32.13', '36.88', '21.79', '18.45', '23.43', '23.72', '28.61', '20.39', '26.62', '18.74', '30.86', '21.93', '50.27', '24.14', '32.94', '31.26', '23.78', '26.47', '30.12', '32.55', '29.83', '19.49', '27.41', '29.13', '27.12', '34.01', '19.05', '32.1', '28.73', '22.32', '23.01', '19.96', '24.81', '24.89', '27.11', '21.65', '24.27', '27.38', '29.16', '24.95', '25.77', '29.52', '21.65', '23.15', '30.56', '23.89', '99.99', '26.55', '21.92', '35.53', '24.61', '19.55', '24.67', '27.27', '21.76', '21.79', '99.99', '15.92']

In [11]:
df = pd.DataFrame(olympics_data)
df.head(10)

      HHX FMX FPX SEX    BMI SLEEP educ height weight
0  000016  01  02   1  33.36     8   16     74    260
1  000020  01  01   1  26.54     7   14     70    185
2  000069  01  02   2  32.13     7    9     61    170
3  000087  01  01   1  26.62     8   14     68    175
4  000088  01  01   2  27.13     8   13     66    168
5  000099  01  01   2  99.99    98   12     98    998
6  000101  01  01   1  99.99     6   13     99    172
7  000122  01  01   1  24.39     7   12     70    170
8  000129  01  02   2  24.47     7   16     65    147
9  000134  01  02   2  25.38     7   18     64    148

In [13]:
# extract all of the information from the 3rd column
df["BMI"]

0       33.36
1       26.54
2       32.13
3       26.62
4       27.13
        ...
4780    17.12
4781    27.47
4782    29.16
4783    23.68
4784    20.12
Name: BMI, Length: 4785, dtype: object

In [15]:
# extract information by row
""" in data analysis iloc()  "integer location" and is primarily used for 
accessing and retrieving data from pandas DataFrame objects using integer-based indexing """
df.iloc[2]

HHX       000069
FMX           01
FPX           02
SEX            2
BMI        32.13
SLEEP          7
educ           9
height        61
weight       170
Name: 2, dtype: object

In [18]:
df = pd.read_csv("nhis.csv")
df

        HHX  FMX  FPX  SEX    BMI  SLEEP  educ  height  weight
0        16    1    2    1  33.36      8    16      74     260
1        20    1    1    1  26.54      7    14      70     185
2        69    1    2    2  32.13      7     9      61     170
3        87    1    1    1  26.62      8    14      68     175
4        88    1    1    2  27.13      8    13      66     168
...     ...  ...  ...  ...    ...    ...   ...     ...     ...
4780  53939    1    1    2  17.12      8    13      69     116
4781  53949    1    1    1  27.47      7    14      69     186
4782  53950    1    2    2  29.16      7    12      64     170
4783  53953    1    1    2  23.68      8    16      64     138
4784  53955    1    2    2  20.12      8    16      62     110

[4785 rows x 9 columns]

### Features of Pandas
* A fast and efficient **DataFrame** object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
* Intelligent data alignment and integrated **handling of missing data**
* Flexible reshaping and pivoting of data sets;
* Intelligent label-based **slicing**, fancy indexing, and **subsetting** of large data sets;
* Aggregating or transforming data with a powerful **group** by engine allowing split-apply-combine operations on data sets;
* High performance **merging and joining** of data sets;
* **Time series**-functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
* Highly **optimized for performance**, with critical code paths written in Cython or C.

### Importing pandas and the data

In [19]:
# scikit-learn library => sklearn
from sklearn.datasets import load_wine
data = load_wine()
frame = pd.DataFrame(data.data, columns=data.feature_names)
print(frame)

     alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0      14.23        1.71  2.43               15.6      127.0           2.80
1      13.20        1.78  2.14               11.2      100.0           2.65
2      13.16        2.36  2.67               18.6      101.0           2.80
3      14.37        1.95  2.50               16.8      113.0           3.85
4      13.24        2.59  2.87               21.0      118.0           2.80
..       ...         ...   ...                ...        ...            ...
173    13.71        5.65  2.45               20.5       95.0           1.68
174    13.40        3.91  2.48               23.0      102.0           1.80
175    13.27        4.28  2.26               20.0      120.0           1.59
176    13.17        2.59  2.37               20.0      120.0           1.65
177    14.13        4.10  2.74               24.5       96.0           2.05

     flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0          3.06                  0.28             2.29             5.64  1.04
1          2.76                  0.26             1.28             4.38  1.05
2          3.24                  0.30             2.81             5.68  1.03
3          3.49                  0.24             2.18             7.80  0.86
4          2.69                  0.39             1.82             4.32  1.04
..          ...                   ...              ...              ...   ...
173        0.61                  0.52             1.06             7.70  0.64
174        0.75                  0.43             1.41             7.30  0.70
175        0.69                  0.43             1.35            10.20  0.59
176        0.68                  0.53             1.46             9.30  0.60
177        0.76                  0.56             1.35             9.20  0.61

     od280/od315_of_diluted_wines  proline
0                            3.92   1065.0
1                            3.40   1050.0
2                            3.17   1185.0
3                            3.45   1480.0
4                            2.93    735.0
..                            ...      ...
173                          1.74    740.0
174                          1.56    750.0
175                          1.56    835.0
176                          1.62    840.0
177                          1.60    560.0

[178 rows x 13 columns]

In [20]:
frame.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [21]:
frame.tail()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560.0

In [22]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
dtypes: float64(13)
memory usage: 18.2 KB

In [25]:
frame.index

RangeIndex(start=0, stop=178, step=1)

In [27]:
frame.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline'],
      dtype='object')

In [28]:
frame.dtypes

alcohol                         float64
malic_acid                      float64
ash                             float64
alcalinity_of_ash               float64
magnesium                       float64
total_phenols                   float64
flavanoids                      float64
nonflavanoid_phenols            float64
proanthocyanins                 float64
color_intensity                 float64
hue                             float64
od280/od315_of_diluted_wines    float64
proline                         float64
dtype: object

In [29]:
frame.shape

(178, 13)

In [30]:
# iloc - interger location
frame.iloc[3]

alcohol                           14.37
malic_acid                         1.95
ash                                2.50
alcalinity_of_ash                 16.80
magnesium                        113.00
total_phenols                      3.85
flavanoids                         3.49
nonflavanoid_phenols               0.24
proanthocyanins                    2.18
color_intensity                    7.80
hue                                0.86
od280/od315_of_diluted_wines       3.45
proline                         1480.00
Name: 3, dtype: float64

In [33]:
frame.iloc[5:8]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0
7,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295.0

In [34]:
frame.iloc[:, 3:7]

     alcalinity_of_ash  magnesium  total_phenols  flavanoids
0                 15.6      127.0           2.80        3.06
1                 11.2      100.0           2.65        2.76
2                 18.6      101.0           2.80        3.24
3                 16.8      113.0           3.85        3.49
4                 21.0      118.0           2.80        2.69
..                 ...        ...            ...         ...
173               20.5       95.0           1.68        0.61
174               23.0      102.0           1.80        0.75
175               20.0      120.0           1.59        0.69
176               20.0      120.0           1.65        0.68
177               24.5       96.0           2.05        0.76

[178 rows x 4 columns]

In [35]:
frame.iloc[5:10, 3:9]

,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins
5,15.2,112.0,3.27,3.39,0.34,1.97
6,14.6,96.0,2.50,2.52,0.30,1.98
7,17.6,121.0,2.60,2.51,0.31,1.25
8,14.0,97.0,2.80,2.98,0.29,1.98
9,16.0,98.0,2.98,3.15,0.22,1.85

In [36]:
# .loc label-based indexing
frame.loc[:, "magnesium"]

0      127.0
1      100.0
2      101.0
3      113.0
4      118.0
       ...
173     95.0
174    102.0
175    120.0
176    120.0
177     96.0
Name: magnesium, Length: 178, dtype: float64

In [38]:
frame["magnesium"]

0      127.0
1      100.0
2      101.0
3      113.0
4      118.0
       ...
173     95.0
174    102.0
175    120.0
176    120.0
177     96.0
Name: magnesium, Length: 178, dtype: float64

In [40]:
frame.loc[7:16, "magnesium"]

7     121.0
8      97.0
9      98.0
10    105.0
11     95.0
12     89.0
13     91.0
14    102.0
15    112.0
16    120.0
Name: magnesium, dtype: float64

In [44]:
# boolean indexing using .loc
frame.loc[frame['alcohol'] < 12]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
74,11.96,1.09,2.30,21.0,101.0,3.38,2.14,0.13,1.65,3.21,0.99,3.13,886.0
75,11.66,1.88,1.92,16.0,97.0,1.61,1.57,0.34,1.15,3.80,1.23,2.14,428.0
77,11.84,2.89,2.23,18.0,112.0,1.72,1.32,0.43,0.95,2.65,0.96,2.52,500.0
84,11.84,0.89,2.58,18.0,94.0,2.20,2.21,0.22,2.35,3.05,0.79,3.08,520.0
87,11.65,1.67,2.62,26.0,88.0,1.92,1.61,0.40,1.34,2.60,1.36,3.21,562.0
88,11.64,2.06,2.46,21.6,84.0,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680.0
94,11.62,1.99,2.28,18.0,98.0,3.02,2.26,0.17,1.35,3.25,1.16,2.96,345.0
96,11.81,2.12,2.74,21.5,134.0,1.60,0.99,0.14,1.56,2.50,0.95,2.26,625.0
103,11.82,1.72,1.88,19.5,86.0,2.50,1.64,0.37,1.42,2.06,0.94,2.44,415.0
109,11.61,1.35,2.70,20.0,94.0,2.74,2.92,0.29,2.49,2.65,0.96,3.26,680.0
110,11.46,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562.0
112,11.76,2.68,2.92,20.0,103.0,1.75,2.03,0.60,1.05,3.80,1.23,2.50,607.0
113,11.41,0.74,2.50,21.0,88.0,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434.0
115,11.03,1.51,2.20,21.5,85.0,2.46,2.17,0.52,2.01,1.90,1.71,2.87,407.0
116,11.82,1.47,1.99,20.8,86.0,1.98,1.60,0.30,1.53,1.95,0.95,3.33,495.0
120,11.45,2.40,2.42,20.0,96.0,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625.0
121,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465.0
124,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380.0
127,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466.0

In [45]:
frame[frame['alcohol'] < 12]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
74,11.96,1.09,2.30,21.0,101.0,3.38,2.14,0.13,1.65,3.21,0.99,3.13,886.0
75,11.66,1.88,1.92,16.0,97.0,1.61,1.57,0.34,1.15,3.80,1.23,2.14,428.0
77,11.84,2.89,2.23,18.0,112.0,1.72,1.32,0.43,0.95,2.65,0.96,2.52,500.0
84,11.84,0.89,2.58,18.0,94.0,2.20,2.21,0.22,2.35,3.05,0.79,3.08,520.0
87,11.65,1.67,2.62,26.0,88.0,1.92,1.61,0.40,1.34,2.60,1.36,3.21,562.0
88,11.64,2.06,2.46,21.6,84.0,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680.0
94,11.62,1.99,2.28,18.0,98.0,3.02,2.26,0.17,1.35,3.25,1.16,2.96,345.0
96,11.81,2.12,2.74,21.5,134.0,1.60,0.99,0.14,1.56,2.50,0.95,2.26,625.0
103,11.82,1.72,1.88,19.5,86.0,2.50,1.64,0.37,1.42,2.06,0.94,2.44,415.0
109,11.61,1.35,2.70,20.0,94.0,2.74,2.92,0.29,2.49,2.65,0.96,3.26,680.0
110,11.46,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562.0
112,11.76,2.68,2.92,20.0,103.0,1.75,2.03,0.60,1.05,3.80,1.23,2.50,607.0
113,11.41,0.74,2.50,21.0,88.0,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434.0
115,11.03,1.51,2.20,21.5,85.0,2.46,2.17,0.52,2.01,1.90,1.71,2.87,407.0
116,11.82,1.47,1.99,20.8,86.0,1.98,1.60,0.30,1.53,1.95,0.95,3.33,495.0
120,11.45,2.40,2.42,20.0,96.0,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625.0
121,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.00,0.93,3.69,465.0
124,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.80,0.75,3.64,380.0
127,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466.0

In [46]:
# if you'd only want the color intensity for the wines with an alcohol percentage below 12
frame.loc[frame["alcohol"] < 12, ["color_intensity"]]

     color_intensity
74              3.21
75              3.80
77              2.65
84              3.05
87              2.60
88              2.80
94              3.25
96              2.50
103             2.06
109             2.65
110             2.90
112             3.80
113             3.08
115             1.90
116             1.95
120             3.25
121             6.00
124             2.80
127             3.00

In [47]:
# Selectors for series
# convert a one-column DataFrame into a Pandas Series
# Let's save our color intensity dataframe into an object col_intensity
col_intense = frame["color_intensity"]

In [48]:
type(col_intense)

pandas.core.series.Series

In [52]:
hue = frame.loc[frame["alcohol"] >= 12, ["hue"]]
hue.tail()

      hue
173  0.64
174  0.70
175  0.59
176  0.60
177  0.61

In [53]:
col_intense[0:3]

0    5.64
1    4.38
2    5.68
Name: color_intensity, dtype: float64

In [54]:
# Or col_intensity.loc[col_intensity > 8]

col_intense[col_intense > 8]

18      8.700000
49      8.900000
144     8.210000
148     8.420000
149     9.400000
150     8.600000
151    10.800000
153    10.520000
156     9.010000
158    13.000000
159    11.750000
164     9.580000
166    10.680000
167    10.260000
168     8.660000
169     8.500000
171     9.899999
172     9.700000
175    10.200000
176     9.300000
177     9.200000
Name: color_intensity, dtype: float64

In [60]:
# changind values in df and series
frame.loc[frame["color_intensity"] > 10, "color_intensity"] = 10

In [62]:
col_intense[col_intense >= 10]

151    10.0
153    10.0
158    10.0
159    10.0
166    10.0
167    10.0
175    10.0
Name: color_intensity, dtype: float64

In [63]:
# creating new columns
frame.loc[frame["color_intensity"] > 7, "shade"] = "dark"

frame.loc[frame["color_intensity"] <=7, "shade"] = "light"

In [64]:
frame.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,shade
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,light
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,light
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,light
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,dark
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,light

In [65]:
frame.shape

(178, 14)

## Importing Data Using Pandas
* Use pandas to import data from a CSV and and an Excel spreadsheet
* Use pandas to export a DataFrame to a file

Main fxns to import Pandas DataFrame
* pd.read_csv() for `csv files`
* pd.read_excel() for `excel files` both .xls and xsls
* pd.read_json() for json `javascript open notation` files
* pd.DataFrame.from_dict()
    * read_csv() format can be used for plain text delimited files which includes pipe (|) delimited files (`.psv`) and tab separated files (`.tsv`)

Let's look at an example by investigating a file, `'bp.txt'`, stored in the Data folder.

***Import 'bp.txt' file***
>df = pd.read_csv('Data/bp.txt', delimiter='\t')

**Skipping and Limiting Rows**
* `skiprows` to skip rows
* `nrows` to only load a portion of a large files as an initial preview.
> df.read_csv(/ACS_16_5YR_B24011_with_ann.csv', nrows=100)

** removing a row**
> df = df.drop()

** skipping a row while importing **
> df = df.read_csv("Data/ACS_16_5YR_824011_with_ann.csv", skiprows=1, nrows=100)