In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
col_names = ["class", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium", "Total phenols", "Flavanoids", "Nonflavanoid phenols", "Proanthocyanins", "Color intensity", "Hue", "OD280/OD315 of diluted wines", "Proline"]
len(col_names)

14

In [7]:
wine_data = pd.read_csv("Revision/wine/wine.data", sep=",", names = col_names)
wine_data.head()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [8]:
wine_data["class"].value_counts()

2    71
1    59
3    48
Name: class, dtype: int64

In [10]:
wine_data.duplicated().any()

False

In [11]:
wine_data.to_excel("Revision/wine/wine.data.xlsx")

In [13]:
second_sheet = pd.read_excel("Revision/wine/wine.data.xlsx", sheet_name="Sheet2", index_col=0)
second_sheet.head()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Price
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,2
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,3
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,4
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,5

In [14]:
multiple_sheet = pd.read_excel("Revision/wine/wine.data.xlsx", sheet_name=["Sheet1", "Sheet2"], index_col=0)
type(multiple_sheet)

dict

In [15]:
multiple_sheet.keys()

dict_keys(['Sheet1', 'Sheet2'])

In [17]:
multiple_sheet["Sheet2"].head()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Price
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,2
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,3
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,4
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,5

In [24]:
sample_data = pd.read_excel("../Data Analysis/data/sample_data.xlsx", header=4)
sample_data.head(10)

,Unnamed: 0,Day,Month,Year,Code,No.,Day.1,Month.1,Year.1,Name of Court,...,F,Org.,M.1,F.1,Org..1,(Y/N),P \n(Enter No.),D\n(Enter No.),(Enter No.),(Free text)
0,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,NaN,1.0,NaN
1,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,1.0,0.0,NaN
2,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,NaN,1.0,NaN
3,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,NaN,1.0,NaN
4,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,...,NaN,1.0,NaN,2.0,NaN,No,NaN,NaN,2.0,NaN
5,NaN,3,Apr,2023,QRCR,E637,3,Apr,2023,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,NaN,1.0,NaN
6,NaN,3,Apr,2023,QRCR,E639,3,Apr,2023,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,NaN,0.0,NaN
7,NaN,3,Apr,2023,QRCR,E643,3,Apr,2023,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,NaN,1.0,NaN
8,NaN,3,Apr,2023,QRCRMISC,E107,3,Apr,2023,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,NaN,1.0,NaN
9,NaN,3,Apr,2023,QRCR,34,6,Jan,2020,NaN,...,NaN,1.0,1.0,NaN,NaN,No,NaN,NaN,0.0,NaN

In [25]:
CRB = [ 1, 5, 7, 9, 15, 33, 1, 5, 7, 9, 15, 33, 15, 33, 15, 33, 1]
set(CRB)

{1, 5, 7, 9, 15, 33}

In [30]:
duplicate = sample_data.duplicated()

In [31]:
duplicate

0       False
1       False
2       False
3       False
4       False
        ...
2152    False
2153    False
2154    False
2155    False
2156    False
Length: 2157, dtype: bool

In [32]:
duplicate.value_counts()

False    2155
True        2
dtype: int64